
<h1>Organizations</h1>


<div class="modal fade bd-example-modal-lg" id="orgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<table class="table" id="orgsTable">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Large</th>
      <th>Division</th>
      <th>Supply Order Class</th>
      <th>Demand Order Class</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.large_id %></td>
        <td><%= organization.division_id %></td>
        <td><%= organization.supply_order_class %></td>
        <td><%= organization.demand_order_class %></td>
        <td><%= link_to "Products", organization_products_path(organization) %></td>
        <td><%= link_to "Locations", organization_locations_path(organization) %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization), remote: true %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path, remote: true %>
