<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Large:</strong>
  <%= @organization.large_id %>
</p>

<p>
  <strong>Division:</strong>
  <%= @organization.division_id %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
