<!DOCTYPE html>
<html>
<head>
  <title>Scenario Simulator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'devise' %>
  <%= csrf_meta_tags %>
</head>
<body class="text-center">
  <% if notice %>
  <div class="alert alert-danger" role="alert"><p><%= notice %></p></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>

